*,
::before, /* 1 */
::after /* 1 */ {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html /* 1 */{
    font-size: 16px;
}

ol, ul /* 1 */{
	list-style: none;
}

body /* 1 */{
    font-size: 1rem;
    background-color: #cdcdcd;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.wrapper /* 10 */{
    width: 90%;
    margin: 0 auto;
}

.header .nav /* 20 */{
    display: flex;
}

.nav /* 10 */{
    width: 90%;
    margin: 0 auto;
    color: #000;
    font-family: Comfortaa, 'Comic Sans MS', cursive;
    font-weight: 700;
    background-color: #d38338;
    position: fixed;
    z-index: 5;
}

.nav a /* 11 */{
    text-decoration: none;
}

.subnav /* 10 */{
    display: none;
    width: 100%;
    position: absolute;
    line-height: 2rem;
    z-index: 10;   
}

.nav__item, /* 10 */
.subnav__item  /* 10 */{
    display: inline-block;
    width: 100%;
    font-size: .8rem;
    position: relative;
    text-align: center;
}

.nav__link, /* 10 */
.subnav__link /* 10 */{
    display: block;
    text-decoration: none;
    line-height: 2rem;
    white-space: nowrap;
    background-color: #d38338;
    text-transform: uppercase;
    transform: scale(1);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.nav__item:hover .subnav /* 30 */{
    display: block;
}

.nav__link:hover, /* 20 */
.subnav__link:hover /* 20 */{
    background-color: #9a3240;
    text-decoration: underline;
}

.nav__link:visited, /* 20 */
.subnav__link:visited /* 20 */{
    color: #000;
}

.header__banner /* 10 */{
    font-family: 'Philosopher', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: start;
    padding-top: 20px;
}

img.header__img /* 11 */{
    width: 100%;
    position: relative;
    z-index: 2;
}

.header__banner-text /* 10 */{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 30px;
    padding-top: 30px;
    padding-left: 4%;
    color: rgb(251, 229, 234);
    position: absolute;
    z-index: 3;
}

.header__heading /* 10 */{
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 3rem;
    text-shadow: 3px 3px 3px #000;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
}

.header__banner-text .banner-text /* 20 */{
    width:60%;
}

.banner-text /* 10 */{
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 4px 4px 5px #000;
}

.main /* 10 */{
    padding: 10px 0;
}

.article__heading, /* 10 */
.list__heading /* 10 */{
    font-family: 'Philosopher', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 5px 0;
    margin: 10px 0;
}

.article__text /* 10 */{
    font-family: 'Comfortaa','Comic Sans MS', cursive;
    text-indent: 3%;
    padding: 0 0 10px;
}

.main__item {
    padding: 10px 0 20px;
}

.main__link /* 10 */{
    display: block;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    color:rgb(251, 229, 234);
    background-color: #434343;
    margin: 20px auto;
    padding: 8px 2%;
    border-radius: 7px;
}

.list__heading /* 10 */{
    font-size: 1.5rem;
    text-align: left;
}

.list__item /* 10 */{
    list-style-type: square;
    list-style-position: inside;
}

.list__item--mod /* 10 */{
    font-weight: 700;
}

.footer /* 10 */{
    display: flex;
    justify-content: space-around;
    padding: 5px 2%;
    background-color: #fff;
}

.footer__item /* 10 */{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.footer__link, /* 10 */
.footer__contacts, /* 10 */
.copy /* 10 */{
    padding: 8px 0;
    color: #434343;
    font-size: 0.7rem;
    text-decoration: none;
}

.main__link:hover,/* 20 */
.footer__link:hover /* 20 */{
    text-decoration: underline;
}